*{
  margin: 0ex;
  padding: 0ex;
}

.hero{
  background-color: rgb(255, 167, 3);
  height: 500px;
  
}

.hero1{
  float: left;
  width: 40%;
  
}

.hero1 img{
  width: 72.5%;
  size: 100px;
  padding-left: 80px;
  margin-left: 100px;

}

.text{
  margin-top: 150px;
  margin-left: 20px;
}

.section2{
  background-color: wheat;
  height: 500px;
}

.hero2{
  float: right;
  width: 40%;
}

.hero2 img{
  width: 72.5%;
  size: 100px;
 padding-right: 80px;

}


.button{
  padding: 10px 20px;
}


.button-link{
  text-decoration: none;
}